in.trees
out.skylines
out.tips

h3_small_tree/h3_small_tree.log
h3_small_tree/h3_small_tree.trees
h3_small_r2_tree/h3_small_r2_tree.log
h3_small_r2_tree/h3_small_r2_tree.trees
h3_large_tree/h3_large_tree.log
h3_large_tree/h3_large_tree.trees

h1_small_tree/h1_small_tree.log
h1_small_tree/h1_small_tree.trees
h1_small_r2_tree/h1_small_r2_tree.log
h1_small_r2_tree/h1_small_r2_tree.trees
h1_large_tree/h1_large_tree.log
h1_large_tree/h1_large_tree.trees

vic_small_tree/vic_small_tree.log
vic_small_tree/vic_small_tree.trees
vic_small_r2_tree/vic_small_r2_tree.log
vic_small_r2_tree/vic_small_r2_tree.trees
vic_large_tree/vic_large_tree.log
vic_large_tree/vic_large_tree.trees

yam_small_tree/yam_small_tree.log
yam_small_tree/yam_small_tree.trees
yam_small_r2_tree/yam_small_r2_tree.log
yam_small_r2_tree/yam_small_r2_tree.trees
yam_large_tree/yam_large_tree.log
yam_large_tree/yam_large_tree.trees
